* {
    line-height: 150%;
}
body {
    background-color: #809786;
     font-family: Arial, Helvetica, sans-serif;
     text-align: left;
}
h1, h2, h3 {
    text-align: center;
}
table {
    margin: auto;
    padding: 25px;
}
div {
    text-align: center;
}
p {
    text-indent: 2em;
}
img {
    align-content: center;
    height: auto;
    width: 60%;
}
 a:link {
      color: tan; 
    }

    a:visited {
      color: orange; 
    }

    a:hover {
      color: orange; 
    }

    a:active {
      color: orange; 
    }
    a {
        font-size: 175%; ;
    }
h2 {
    font-style: italic;
}