* {
    line-height: 150%;
    box-sizing: border-box
}
body {
    background-color: #809786;
     font-family: Arial, Helvetica, sans-serif;
     text-align: left;
}
h1, h2, h3 {
    text-align: center;
}
table {
    margin: auto;
    padding: 25px;
}
div {
    text-align: center;
    display: block;
    margin: 20px auto;
    width: 65vw;
}
p {
    text-indent: 2em;
    display: block;
    margin: 20px auto;
    width: 65vw;
}

img {
    display: block;
    margin: 20px auto;
    width: 50vw;
    border: 5px solid black;
    border-radius: 20px;
}

 a:link {
      color: tan; 
    }

    a:visited {
      color: orange; 
    }

    a:hover {
      color: orange; 
    }

    a:active {
      color: orange; 
    }
    a {
        font-size: 175%; ;
    }
h2 {
    font-style: italic;
}