body {
    background-color: #6b8772;
     font-family: Arial, Helvetica, sans-serif;
     text-align: left;
}
h1, h2, h3 {
    text-align: center;
}
table {
    margin: auto;
    padding: 25px;
}
div {
    text-align: center;
}
p {
    text-indent: 2em;
}
img {
    align-content: center;
    padding: 10px;
    
}